.article_warpper{
    width: 80vw;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 24;
}
.article_content{
    /* background:  rgba(208, 208, 211,0.2); */
    margin-top: 2rem;
    overflow: auto;
    margin-bottom: 6rem;
    /* min-height: 80rem; */
}

